/*Tables*/
.table-info {
  font-size: 12px;
  background: #fff;
  width: 480px;
  border-collapse: collapse;
  text-align: left;
}
.table-info th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
.table-info td {
  color: #669;
  padding: 9px 8px 0px 8px;
}
.table-info tbody tr:hover td {
  color: #009;
}
