<header>
  <ul>
    <li><a href="/admin/device_types">Home</a></li>
  </ul>
</header>

<h1>New Device</h1>

<%= erb :"admin/devices/form", locals: {
  form_url: '/admin/devices',
  form_method: 'post',
  device: Device.new(name: '', ip: '', data: []),
  submit_text: 'Create'
  }
%>
