<header>
  <ul>
    <li><a href="/admin">Home</a></li>
    <li><a href="/admin/device_types/new">New</a></li>
  </ul>
</header>

<ul>
  <% device_types.each do |device_type| %>
    <li><a href=<%= "/admin/device_types/#{device_type.id}" %>><%= device_type.name %></a></li>
  <% end %>
</ul>
